In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [2]:
data=pd.read_csv("Retention CP prediction.csv")

In [3]:
data.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,18670,5415,3610,1,1,1,1,1,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,...,18670,5415,3610,1,1,1,1,1,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,...,18670,5415,3610,1,1,1,1,1,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,...,18670,5415,3610,1,1,1,1,1,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3,Double Down Sale,USA,M,M,...,18670,5415,3610,1,1,1,1,1,Radio,50.79

In [4]:
data.shape

(60428, 40)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60428 entries, 0 to 60427
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   food_category               60428 non-null  object
 1   food_department             60428 non-null  object
 2   food_family                 60428 non-null  object
 3   store_sales(in millions)    60428 non-null  float64
 4   store_cost(in millions)     60428 non-null  float64
 5   unit_sales(in millions)     60428 non-null  int64
 6   promotion_name              60428 non-null  object
 7   sales_country               60428 non-null  object
 8   marital_status              60428 non-null  object
 9   gender                      60428 non-null  object
 10  total_children              60428 non-null  int64
 11  education                   60428 non-null  object
 12  member_card                 60428 non-null  object
 13  occupation                  60428 non-null  object
 14  houseowner                  60428 non-null  object
 15  avg_cars_at home(approx)    60428 non-null  int64
 16  avg. yearly_income          60428 non-null  object
 17  num_children_at_home        60428 non-null  int64
 18  avg_cars_at home(approx).1  60428 non-null  int64
 19  brand_name                  60428 non-null  object
 20  SRP                         60428 non-null  float64
 21  gross_weight                60428 non-null  float64
 22  net_weight                  60428 non-null  float64
 23  recyclable_package          60428 non-null  int64
 24  low_fat                     60428 non-null  int64
 25  units_per_case              60428 non-null  int64
 26  store_type                  60428 non-null  object
 27  store_city                  60428 non-null  object
 28  store_state                 60428 non-null  object
 29  store_sqft                  60428 non-null  int64
 30  grocery_sqft                60428 non-null  int64
 31  frozen_sqft                 60428 non-null  int64
 32  meat_sqft                   60428 non-null  int64
 33  coffee_bar                  60428 non-null  int64
 34  video_store                 60428 non-null  int64
 35  salad_bar                   60428 non-null  int64
 36  prepared_food               60428 non-null  int64
 37  florist                     60428 non-null  int64
 38  media_type                  60428 non-null  object
 39  cost                        60428 non-null  float64
dtypes: float64(6), int64(17), object(17)
memory usage: 18.4+ MB

In [5]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Vegetables              7440
Snack Foods             6919
Dairy                   3835
Meat                    3107
Fruit                   3080
Jams and Jellies        2550
Baking Goods            1947
Breakfast Foods         1946
Bread                   1797
Canned Soup             1722
Beer and Wine           1590
Paper Products          1568
Bathroom Products       1552
Electrical              1544
Candy                   1538
Frozen Desserts         1446
Specialty               1174
Starchy Foods           1103
Magazines                971
Kitchen Products         969
Eggs                     952
Hot Beverages            891
Hygiene                  831
Pain Relievers           828
Pizza                    821
Carbonated Beverages     782
Pure Juice Beverages     760
Cleaning Supplies        748
Side Dishes              601
Frozen Entrees           595
Drinks                   581
Plastic Products         578
Hardware                 575
Cold Remedies            399
Decongestants            396
Canned Tuna              395
Seafood                  375
Canned Anchovies         213
Canned Clams             199
Candles                  195
Miscellaneous            194
Canned Oysters           189
Canned Shrimp            182
Packaged Vegetables      179
Canned Sardines          171
Name: food_category, dtype: int64
********************
Produce                8521
Snack Foods            6919
Household              6185
Frozen Foods           6126
Baking Goods           4497
Canned Foods           4238
Dairy                  3835
Health and Hygiene     3807
Beverages              3014
Deli                   2787
Baked Goods            1797
Alcoholic Beverages    1590
Snacks                 1538
Starchy Foods          1103
Periodicals             971
Eggs                    952
Breakfast Foods         778
Canned Products         400
Meat                    385
Checkout                385
Seafood                 375
Carousel                225
Name: food_department, dtype: int64
********************
Food              43284
Non-Consumable    11573
Drink              5571
Name: food_family, dtype: int64
********************
5.04     311
7.95     272
5.40     270
4.80     268
7.41     265
        ...
15.55      1
16.92      1
18.30      1
2.33       1
17.34      1
Name: store_sales(in millions), Length: 1033, dtype: int64
********************
1.5120    71
2.1600    65
3.0240    64
2.5920    62
1.7280    62
          ..
9.4080     1
5.9330     1
1.2455     1
7.6050     1
0.4292     1
Name: store_cost(in millions), Length: 9919, dtype: int64
********************
3    27482
4    16581
2    13417
5     2058
1      864
6       26
Name: unit_sales(in millions), dtype: int64
********************
Weekend Markdown           2330
Two Day Sale               2321
Price Savers               2279
Price Winners              2108
Save-It Sale               2001
Super Duper Savers         1986
Super Savers               1930
One Day Sale               1843
Double Down Sale           1755
High Roller Savings        1741
Green Light Days           1702
Shelf Clearing Days        1690
Price Slashers             1647
Free For All               1621
Cash Register Lottery      1555
Go For It                  1521
Two for One                1493
Money Savers               1489
Big Time Discounts         1480
Price Destroyers           1374
Saving Days                1353
Dollar Cutters             1326
Unbeatable Price Savers    1217
Sales Galore               1212
Big Promo                  1172
Dimes Off                  1150
Sales Days                 1107
Price Cutters              1099
You Save Days              1075
Savings Galore             1067
Bag Stuffers               1066
Three for One              1042
I Cant Believe It Sale      972
Sale Winners                910
Pick Your Savings           876
Bye Bye Baby                874
Best Savings                868
Tip Top Savings             862
Shelf Emptiers              799
Big Time Savings            745
Wallet Savers               608
Dollar Days                 532
Mystery Sale                511
Price Smashers              449
Green Light Special         427
Coupon Spectacular          402
Super Wallet Savers         389
Double Your Savings         242
Fantastic Discounts         210
Name: promotion_name, dtype: int64
********************
USA       38892
Mexico    17572
Canada     3964
Name: sales_country, dtype: int64
********************
S    30355
M    30073
Name: marital_status, dtype: int64
********************
F    30942
M    29486
Name: gender, dtype: int64
********************
2    12518
4    12427
3    11921
1    11770
5     6168
0     5624
Name: total_children, dtype: int64
********************
Partial High School    18201
High School Degree     17838
Bachelors Degree       15994
Partial College         5284
Graduate Degree         3111
Name: education, dtype: int64
********************
Bronze    33807
Normal    13867
Golden     7556
Silver     5198
Name: member_card, dtype: int64
********************
Professional      19915
Skilled Manual    15995
Manual            14624
Management         8805
Clerical           1089
Name: occupation, dtype: int64
********************
Y    36510
N    23918
Name: houseowner, dtype: int64
********************
2    18268
3    16961
1    13643
4     7974
0     3582
Name: avg_cars_at home(approx), dtype: int64
********************
$30K - $50K      19514
$10K - $30K      12959
$50K - $70K      10493
$70K - $90K       7544
$130K - $150K     3410
$90K - $110K      2737
$110K - $130K     2590
$150K +           1181
Name: avg. yearly_income, dtype: int64
********************
0    37609
1     8811
2     5841
3     4391
4     2430
5     1346
Name: num_children_at_home, dtype: int64
********************
2    18268
3    16961
1    13643
4     7974
0     3582
Name: avg_cars_at home(approx).1, dtype: int64
********************
Hermanos     1839
Ebony        1729
Tell Tale    1728
Tri-State    1633
High Top     1592
             ...
ADJ            56
Symphony       49
Prelude        45
Toretti        39
King           36
Name: brand_name, Length: 111, dtype: int64
********************
2.65    585
2.47    558
2.59    465
1.68    453
2.70    414
       ...
0.94     38
3.22     38
3.54     37
3.28     35
3.65     32
Name: SRP, Length: 315, dtype: int64
********************
17.10    704
19.90    624
14.70    621
17.20    588
20.90    563
        ...
8.15      27
6.35      27
7.80      24
8.70      24
8.13      24
Name: gross_weight, Length: 376, dtype: int64
********************
16.20    1001
11.60     951
10.60     904
11.10     814
16.70     809
         ...
5.85       29
8.43       29
3.90       27
5.34       27
7.13       24
Name: net_weight, Length: 332, dtype: int64
********************
1    33759
0    26669
Name: recyclable_package, dtype: int64
********************
0    39252
1    21176
Name: low_fat, dtype: int64
********************
29    2294
6     2285
33    2217
31    2107
23    2085
30    2073
26    2013
25    1993
5     1958
9     1950
3     1877
13    1783
34    1740
19    1670
21    1667
14    1658
24    1647
22    1641
27    1632
32    1607
35    1577
17    1576
4     1573
2     1558
15    1548
28    1536
20    1509
11    1484
7     1480
16    1440
18    1419
10    1387
12    1379
8     1364
1      952
36     749
Name: units_per_case, dtype: int64
********************
Supermarket            26192
Deluxe Supermarket     22954
Gourmet Supermarket     6503
Mid-Size Grocery        2846
Small Grocery           1933
Name: store_type, dtype: int64
********************
Tacoma           5704
Salem            5478
Portland         5150
Seattle          5051
Hidalgo          4761
Merida           4498
Spokane          4453
Beverly Hills    4151
Los Angeles      3960
Bremerton        3451
Vancouver        3384
Orizaba          2621
Camacho          2352
Acapulco         1506
Mexico City      1395
San Francisco     783
Bellingham        711
Victoria          580
Guadalajara       439
Name: store_city, dtype: int64
********************
WA           19370
OR           10628
CA            8894
Zacatecas     7113
Yucatan       4498
BC            3964
Veracruz      2621
Guerrero      1506
DF            1395
Jalisco        439
Name: store_state, dtype: int64
********************
33858    5704
27694    5478
20319    5150
21215    5051
30797    4498
30268    4453
23688    4151
23598    3960
30584    3890
39696    3451
23112    3384
34791    2621
23759    2352
23593    1506
36509    1395
38382     871
22478     783
28206     711
34452     580
24597     439
Name: store_sqft, dtype: int64
********************
22123    5704
18670    5478
16232    5150
13305    5051
20141    4498
22063    4453
15337    4151
14210    3960
21938    3890
24390    3451
16418    3384
26354    2621
16844    2352
17475    1506
22450    1395
30351     871
15321     783
22271     711
27463     580
15012     439
Name: grocery_sqft, dtype: int64
********************
7041    5704
5415    5478
2452    5150
4746    5051
6393    4498
4923    4453
5011    4151
5633    3960
5188    3890
9184    3451
4016    3384
5062    2621
4149    2352
3671    1506
8435    1395
4819     871
4294     783
3561     711
4193     580
5751     439
Name: frozen_sqft, dtype: int64
********************
4694    5704
3610    5478
1635    5150
3164    5051
4262    4498
3282    4453
3340    4151
3755    3960
3458    3890
6122    3451
2678    3384
3375    2621
2766    2352
2447    1506
5624    1395
3213     871
2863     783
2374     711
2795     580
3834     439
Name: meat_sqft, dtype: int64
********************
1    37021
0    23407
Name: coffee_bar, dtype: int64
********************
0    39027
1    21401
Name: video_store, dtype: int64
********************
1    35529
0    24899
Name: salad_bar, dtype: int64
********************
1    35529
0    24899
Name: prepared_food, dtype: int64
********************
1    33997
0    26431
Name: florist, dtype: int64
********************
Daily Paper, Radio         6820
Product Attachment         5371
Daily Paper, Radio, TV     5284
Daily Paper                5119
Street Handout             5069
Radio                      4980
Sunday Paper               4859
In-Store Coupon            4495
Sunday Paper, Radio        4050
Cash Register Handout      4002
TV                         3576
Bulk Mail                  3457
Sunday Paper, Radio, TV    3346
Name: media_type, dtype: int64
********************
101.84    839
69.63     763
59.86     726
81.79     698
131.81    619
         ...
101.57     14
77.70      13
101.75     13
69.15      11
84.11      10
Name: cost, Length: 328, dtype: int64
********************

In [6]:
data.isna().sum()

food_category                 0
food_department               0
food_family                   0
store_sales(in millions)      0
store_cost(in millions)       0
unit_sales(in millions)       0
promotion_name                0
sales_country                 0
marital_status                0
gender                        0
total_children                0
education                     0
member_card                   0
occupation                    0
houseowner                    0
avg_cars_at home(approx)      0
avg. yearly_income            0
num_children_at_home          0
avg_cars_at home(approx).1    0
brand_name                    0
SRP                           0
gross_weight                  0
net_weight                    0
recyclable_package            0
low_fat                       0
units_per_case                0
store_type                    0
store_city                    0
store_state                   0
store_sqft                    0
grocery_sqft                  0
frozen_sqft                   0
meat_sqft                     0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
media_type                    0
cost                          0
dtype: int64

In [16]:
data.describe()

,store_sales(in millions),store_cost(in millions),unit_sales(in millions),total_children,avg_cars_at home(approx),num_children_at_home,avg_cars_at home(approx).1,SRP,gross_weight,net_weight,...,store_sqft,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,cost
count,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,...,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000,60428.000000
mean,6.541031,2.619460,3.093169,2.533875,2.200271,0.829351,2.200271,2.115258,13.806433,11.796289,...,27988.477494,19133.799696,5312.852552,3541.846280,0.612646,0.354157,0.587956,0.587956,0.562603,99.262366
std,3.463047,1.453009,0.827677,1.490165,1.109644,1.303424,1.109644,0.932829,4.622693,4.682986,...,5701.022090,3987.395735,1575.907263,1050.471635,0.487150,0.478261,0.492207,0.492207,0.496069,30.011257
min,0.510000,0.163200,1.000000,0.000000,0.000000,0.000000,0.000000,0.500000,6.000000,3.050000,...,20319.000000,13305.000000,2452.000000,1635.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.790000
25%,3.810000,1.500000,3.000000,1.000000,1.000000,0.000000,1.000000,1.410000,9.700000,7.710000,...,23593.000000,16232.000000,4746.000000,3164.000000,0.000000,0.000000,0.000000,0.000000,0.000000,69.650000
50%,5.940000,2.385600,3.000000,3.000000,2.000000,0.000000,2.000000,2.130000,13.600000,11.600000,...,27694.000000,18670.000000,5062.000000,3375.000000,1.000000,0.000000,1.000000,1.000000,1.000000,98.520000
75%,8.670000,3.484025,4.000000,4.000000,3.000000,1.000000,3.000000,2.790000,17.700000,16.000000,...,30797.000000,22123.000000,5751.000000,3834.000000,1.000000,1.000000,1.000000,1.000000,1.000000,126.620000
max,22.920000,9.726500,6.000000,5.000000,4.000000,5.000000,4.000000,3.980000,21.900000,20.800000,...,39696.000000,30351.000000,9184.000000,6122.000000,1.000000,1.000000,1.000000,1.000000,1.000000,149.750000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60428 entries, 0 to 60427
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   food_category               60428 non-null  object
 1   food_department             60428 non-null  object
 2   food_family                 60428 non-null  object
 3   store_sales(in millions)    60428 non-null  float64
 4   store_cost(in millions)     60428 non-null  float64
 5   unit_sales(in millions)     60428 non-null  int64
 6   promotion_name              60428 non-null  object
 7   sales_country               60428 non-null  object
 8   marital_status              60428 non-null  object
 9   gender                      60428 non-null  object
 10  total_children              60428 non-null  int64
 11  education                   60428 non-null  object
 12  member_card                 60428 non-null  object
 13  occupation                  60428 non-null  object
 14  houseowner                  60428 non-null  object
 15  avg_cars_at home(approx)    60428 non-null  int64
 16  avg. yearly_income          60428 non-null  object
 17  num_children_at_home        60428 non-null  int64
 18  avg_cars_at home(approx).1  60428 non-null  int64
 19  brand_name                  60428 non-null  object
 20  SRP                         60428 non-null  float64
 21  gross_weight                60428 non-null  float64
 22  net_weight                  60428 non-null  float64
 23  recyclable_package          60428 non-null  int64
 24  low_fat                     60428 non-null  int64
 25  units_per_case              60428 non-null  int64
 26  store_type                  60428 non-null  object
 27  store_city                  60428 non-null  object
 28  store_state                 60428 non-null  object
 29  store_sqft                  60428 non-null  int64
 30  grocery_sqft                60428 non-null  int64
 31  frozen_sqft                 60428 non-null  int64
 32  meat_sqft                   60428 non-null  int64
 33  coffee_bar                  60428 non-null  int64
 34  video_store                 60428 non-null  int64
 35  salad_bar                   60428 non-null  int64
 36  prepared_food               60428 non-null  int64
 37  florist                     60428 non-null  int64
 38  media_type                  60428 non-null  object
 39  cost                        60428 non-null  float64
dtypes: float64(6), int64(17), object(17)
memory usage: 18.4+ MB